<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ship Locations¡</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="tablero.css">

</head>
<body>



<h7>Who is playing?</h7>
    <p>Gameplayer 1 (you) vs Gameplayer 2</p>


<div id="app">
    <table id="ships" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th v-for="numero in numeros">{{numero}}</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="letra in letras">
                <tr>
                    <td>{{letra}}</td>
                    <td v-for="numero in numeros" :id=letra+numero>{{letra}}{{numero}}
                    </td>
                </tr>
            </template>
        </tbody>
    </table>

    <table id="salvoes" class="table table-bordered">
        <thead>
            <tr>
                <th></th>
                <th v-for="numero in numeros">{{numero}}</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="letra in letras">
                <tr>
                    <td>{{letra}}</td>
                    <td v-for="numero in numeros" :id=letra+numero>{{letra}}{{numero}}
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</div>





</body>

<script src="game.js"></script>

</html>